<!DOCTYPE html>
<html lang="en">
<head>
  <title>Keerthi &natur; Notes | B.E </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="/static/images/favicon.png" rel="icon">
  <link href="/static/images/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/fonts/icomoon/style.css">

  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/magnific-popup.css">
  <link rel="stylesheet" href="/static/css/jquery-ui.css">
  <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">

  <link rel="stylesheet" href="/static/css/lightgallery.min.css">    

  <link rel="stylesheet" href="/static/css/bootstrap-datepicker.css">

  <link rel="stylesheet" href="/static/fonts/flaticon/font/flaticon.css">

  <link rel="stylesheet" href="/static/css/swiper.css">

  <link rel="stylesheet" href="/static/css/aos.css">

  <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>

  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    



    <header class="site-navbar py-3" role="banner">

      <div class="container-fluid">
        
        <div class="row align-items-center">
          
          <div class="col-6 col-xl-2" data-aos="fade-down">
            <h2 class="mb-0"><a href="/" class="text-white h4 mb-0">KEERTHI'S NOTES</a></h2>
          </div>
          
          <div class="col-10 col-md-8 d-none d-xl-block" data-aos="fade-down">
            
            <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">

              <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                <li class="active"><a href="/">Home</a></li>
                <li class="has-children">
                  <a href="/single">Notes</a>
                  <ul class="dropdown">
                    <li class="has-children">
                      <a href="#">Bachelors in Engg <div><small style="font-size:x-small;">Electronics & Communication</small></div></a>
                      <ul class="dropdown">
                        <li><a href="#">3<sup>rd</sup> semester</a></li>
                        <li><a href="#">4<sup>th</sup> semester</a></li>
                        <li><a href="#">5<sup>th</sup> semester</a></li>
                        <li><a href="#">6<sup>th</sup> semester</a></li>
                        <li><a href="#">7<sup>th</sup> semester</a></li>
                        <li><a href="#">8<sup>th</sup> semester</a></li>
                      </ul>
                    </li>
                    <li class="has-children">
                      <a href="#">Masters in Science <div><small style="font-size:x-small;">Computer Science</small></div></a>
                      <ul class="dropdown">
                        <li><a href="#"><i>Coming Soon...</i></a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href="/contact">Contact</a></li>
              </ul>
            </nav>
          </div>

        </div>
      </div>
      
    </header>



    <div class="site-section"  data-aos="fade">
      <div class="container-fluid">

        <div class="row justify-content-center">

          <div class="col-md-7">
            <div class="row mb-5">
              <div class="col-12 ">
                <h3 class="site-section-heading text-center">Bachelors of Engineering</h3>
                <h5 class="text-center" style="color:#a1a1a1;">Electronics and Communication</h5>
              </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-4" onclick="location.href='/templates/about.html'">
            <a href="#"><img src="/static/images/nature_small_1.jpg" alt="IMage" class="img-fluid" style="padding: 2%;"></a>
            <h3 style="position: absolute;left: 40%;top: 45%;font-weight:100;color: white;" class="mb-0">3<sup>rd</sup> semester</h3>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-4 item" data-aos="fade" data-src="/static/images/big-images/nature_big_2.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam omnis quaerat molestiae, praesentium. Ipsam, reiciendis. Aut molestiae animi earum laudantium.</p>">
            <a href="#"><img src="/static/images/nature_small_2.jpg" alt="IMage" class="img-fluid" style="padding: 2%;"></a>
            <h3 style="position: absolute;left: 40%;top: 45%;font-weight:100;color: white;" class="mb-0">4<sup>th</sup> semester</h3>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-4 item" data-aos="fade" data-src="/static/images/big-images/nature_big_3.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem reiciendis, dolorum illo temporibus culpa eaque dolore rerum quod voluptate doloribus.</p>">
            <a href="#"><img src="/static/images/nature_small_3.jpg" alt="IMage" class="img-fluid" style="padding: 2%;"></a>
            <h3 style="position: absolute;left: 40%;top: 45%;font-weight:100;color: white;" class="mb-0">5<sup>th</sup> semester</h3>
          </div> <div style="margin-bottom: 28%;"></div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-4 item" data-aos="fade" data-src="/static/images/big-images/nature_big_4.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim perferendis quae iusto omnis praesentium labore tempore eligendi quo corporis sapiente.</p>">
            <a href="#"><img src="/static/images/nature_small_4.jpg" alt="IMage" class="img-fluid" style="padding: 2%;"></a>
            <h3 style="position: absolute;left: 40%;top: 45%;font-weight:100;color: white;" class="mb-0">6<sup>th</sup> semester</h3>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-4 item" data-aos="fade" data-src="/static/images/big-images/nature_big_5.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, voluptatum voluptate tempore aliquam, dolorem distinctio. In quas maiores tenetur sequi.</p>">
            <a href="#"><img src="/static/images/nature_small_5.jpg" alt="IMage" class="img-fluid" style="padding: 2%;"></a>
            <h3 style="position: absolute;left: 40%;top: 45%;font-weight:100;color: white;" class="mb-0">7<sup>th</sup> semester</h3>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-4 item" data-aos="fade" data-src="/static/images/big-images/nature_big_6.jpg" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum cum culpa blanditiis illum, voluptatum iusto quisquam mollitia debitis quaerat maiores?</p>">
            <a href="#"><img src="/static/images/nature_small_6.jpg" alt="IMage" class="img-fluid" style="padding: 2%;"></a>
            <h3 style="position: absolute;left: 40%;top: 45%;font-weight:100;color: white;" class="mb-0">8<sup>th</sup> semester</h3>
          </div>

        </div>
      </div>
    </div>

    <div class="footer py-4">
      <div class="container-fluid text-center">
        <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>
    </div>

    

    
    
  </div>

  <script src="/static/js/jquery-3.3.1.min.js"></script>
  <script src="/static/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/static/js/jquery-ui.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/owl.carousel.min.js"></script>
  <script src="/static/js/jquery.stellar.min.js"></script>
  <script src="/static/js/jquery.countdown.min.js"></script>
  <script src="/static/js/jquery.magnific-popup.min.js"></script>
  <script src="/static/js/bootstrap-datepicker.min.js"></script>
  <script src="/static/js/swiper.min.js"></script>
  <script src="/static/js/aos.js"></script>

  <script src="/static/js/picturefill.min.js"></script>
  <script src="/static/js/lightgallery-all.min.js"></script>
  <script src="/static/js/jquery.mousewheel.min.js"></script>

  <script src="/static/js/main.js"></script>
  
  <script>
    $(document).ready(function(){
      $('#lightgallery').lightGallery();
    });
  </script>

</body>
</html>