<!DOCTYPE html>
<html lang="en">
<head>
  <title>Keerthi &natur; Notes | BE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/fonts/icomoon/style.css">

  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/magnific-popup.css">
  <link rel="stylesheet" href="/static/css/jquery-ui.css">
  <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/static/css/owl.theme.default.min.css"> 

  <link rel="stylesheet" href="/static/css/bootstrap-datepicker.css">

  <link rel="stylesheet" href="/static/fonts/flaticon/font/flaticon.css">

  <link rel="stylesheet" href="/static/css/swiper.css">

  <link rel="stylesheet" href="/static/css/aos.css">

  <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>

  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    



    <header class="site-navbar py-3" role="banner">

      <div class="container-fluid">
        
        <div class="row align-items-center">
          
          <div class="col-6 col-xl-2" data-aos="fade-down">
            <span class="text-white h5 mb-0"><em>Welcome to</em></span>
            <h2 class="mb-0"><a href="/" class="text-white h4 mb-0">KEERTHI'S NOTES</a></h2>
          </div>
          
          <div class="col-10 col-md-8 d-none d-xl-block" data-aos="fade-down">
            
            <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">

              <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                <li class="active"><a href="/">Home</a></li>
                <li class="has-children">
                  <a href="#">Notes</a>
                  <ul class="dropdown">
                    <li class="has-children">
                      <a href="/BE">Bachelors of Engg <div><small style="font-size:x-small;">Electronics & Communication</small></div></a>
                      <ul class="dropdown">
                        <li><a href="/BE/3">3<sup>rd</sup> semester</a></li>
                        <li><a href="/BE/4">4<sup>th</sup> semester</a></li>
                        <li><a href="/BE/5">5<sup>th</sup> semester</a></li>
                        <li><a href="/BE/6">6<sup>th</sup> semester</a></li>
                        <li><a href="/BE/7">7<sup>th</sup> semester</a></li>
                        <li><a href="#" title="Coming Soon">8<sup>th</sup> semester</a></li>
                      </ul>
                    </li>
                    <li class="has-children">
                      <a href="#">Masters of Science <div><small style="font-size:x-small;">Computer Science</small></div></a>
                      <ul class="dropdown">
                        <li><a href="#"><i>Coming Soon...</i></a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href="/about">About</a></li>
              </ul>
            </nav>
          </div>
          <div class="col-6 col-xl-2 text-right aos-init aos-animate" data-aos="fade-down">
            <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;">
              <a href="#" class="site-menu-toggle js-menu-toggle text-green active">
                <span class="icon-menu h3"></span>
              </a>
            </div>

          </div>
        </div>
      </div>
      
    </header>




    <div class="site-section"  data-aos="fade">
      <div class="container-fluid">

        <div class="row justify-content-center">

          <div class="col-md-7">
            <div class="row mb-5">
              <div class="col-12 ">
                
                {% if sem_no==3 %}
                <h2 class="site-section-heading text-center">3<sup>rd</sup> Semester</h2>
                {% else %}
                <h2 class="site-section-heading text-center">{{ sem_no }}<sup>th</sup> Semester</h2>
                {% endif %}
              </div>
              
            </div>
          </div>
          
        </div> 
        <div style="text-align: right;">
              {% if sem_no==3 %}
              <button class="btn-primary" onclick="location.href='/BE/{{ sem_no+1 }}'">Next Sem</button>
              
              {% elif sem_no==7 %}

              <button class="btn-primary" onclick="location.href='/BE/{{ sem_no-1 }}'">Prev Sem</button>
              {% else %}
              <button class="btn-primary" onclick="location.href='/BE/{{ sem_no-1 }}'">Prev Sem</button>
              <button class="btn-primary" onclick="location.href='/BE/{{ sem_no+1 }}'">Next Sem</button>
              {% endif %}
        </div>       
        <div class="row">
          <!-- For starts-->
          {% for link,name in zip(links,names) %}
          <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5 mb-lg-5">
            <div class="h-100 p-4 p-lg-5 site-block-feature-7">
              <iframe src={{ link }} width="100%" height="100%"></iframe>
              <h4 class="text-white h4" style="font-size:large;">{{ name }}</h4>
            </div>
          </div>
          {% endfor %}
          <!-- For ends -->
        </div>
      </div>
    </div>

    <div class="footer py-4">
      <div class="container-fluid text-center">
        <p>
          &#10084;
        </p>
      </div>
    </div>

    

    
    
  </div>

  <script src="/static/js/jquery-3.3.1.min.js"></script>
  <script src="/static/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/static/js/jquery-ui.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/owl.carousel.min.js"></script>
  <script src="/static/js/jquery.stellar.min.js"></script>
  <script src="/static/js/jquery.countdown.min.js"></script>
  <script src="/static/js/jquery.magnific-popup.min.js"></script>
  <script src="/static/js/bootstrap-datepicker.min.js"></script>
  <script src="/static/js/swiper.min.js"></script>
  <script src="/static/js/aos.js"></script>

  <script src="/static/js/picturefill.min.js"></script>
  <script src="/static/js/jquery.mousewheel.min.js"></script>

  <script src="/static/js/main.js"></script>


</body>
</html>