<!DOCTYPE html>
<html lang="en">
<head>
 

  <title>Keerthi &natur; Notes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="/static/images/favicon.png" rel="icon">
  <link href="/static/images/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/fonts/icomoon/style.css">

  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/magnific-popup.css">
  <link rel="stylesheet" href="/static/css/jquery-ui.css">
  <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">   

  <link rel="stylesheet" href="/static/css/bootstrap-datepicker.css">

  <link rel="stylesheet" href="/static/fonts/flaticon/font/flaticon.css">

  <link rel="stylesheet" href="/static/css/swiper.css">

  <link rel="stylesheet" href="/static/css/aos.css">

  <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
  
  
  <div class="site-wrap">
    
    <div class="site-mobile-menu">

      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
          
        </div>
      </div>
      <div class="site-mobile-menu-body">
        <ul class="site-nav-wrap">
        </ul>
      </div>
    </div>
    <div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
   

    <header class="site-navbar py-3" role="banner">

      <div class="container-fluid">
        
        <div class="row align-items-center">
          
          <div class="col-6 col-xl-2" data-aos="fade-down">
            <span class="text-white h5 mb-0"><em>Welcome to</em></span>
            <h2 class="mb-0"><a href="/" class="text-white h4 mb-0">KEERTHI'S NOTES</a></h2>
          </div>
          
          <div class="col-10 col-md-8 d-none d-xl-block" data-aos="fade-down">
            
            <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">

              <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                <li class="active"><a href="/">Home</a></li>
                <li class="has-children">
                  <a href="#">Notes</a>
                  <ul class="dropdown">
                    <li class="has-children">
                      <a href="/BE">Bachelors of Engg <div><small style="font-size:x-small;">Electronics & Communication</small></div></a>
                      <ul class="dropdown">
                        <li><a href="/BE/3">3<sup>rd</sup> semester</a></li>
                        <li><a href="/BE/4">4<sup>th</sup> semester</a></li>
                        <li><a href="/BE/5">5<sup>th</sup> semester</a></li>
                        <li><a href="/BE/6">6<sup>th</sup> semester</a></li>
                        <li><a href="/BE/7">7<sup>th</sup> semester</a></li>
                        <li><a href="/BE/8">8<sup>th</sup> semester</a></li>
                      </ul>
                    </li>
                    <li class="has-children">
                      <a href="#">Masters of Science <div><small style="font-size:x-small;">Computer Science</small></div></a>
                      <ul class="dropdown">
                        <li><a href="#"><i>Coming Soon...</i></a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href="/about">About</a></li>
              </ul>
            </nav>
          </div>
          <div class="col-6 col-xl-2 text-right aos-init aos-animate" data-aos="fade-down">
            <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;">
              <a href="#" class="site-menu-toggle js-menu-toggle text-green active">
                <span class="icon-menu h3"></span>
              </a>
            </div>

          </div>
        </div>
      </div>
      
    </header>

    

    <div class="container-fluid" data-aos="fade" data-aos-delay="500">
      <div class="row">
        <div class="col-lg-6">

          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-4">Bachelors of Engineering</h2>
              <h6 class="text-white h6">Electonics and Communication</h6>
              <a href="/BE" class="btn btn-outline-white py-2 px-4">Notes >></a>
            </div>
            <img src="/static/images/BE-cover.jpg" alt="Image" class="img-fluid">
          </div>

        </div>
        <div class="col-lg-6">
          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-4">Master of Science</h2>
              <h6 class="text-white h6">Computer Science</h6>
              <a href="#" class="btn btn-outline-white py-2 px-4">Coming Soon..</a>
            </div>
            <img src="/static/images/MS-cover.jpg" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
    <div class="footer py-4">
      <div class="container-fluid text-center">
        <p>
          &#10084;
        </p>
      </div>
    </div>
    
    
  </div>
  

  <script src="/static/js/jquery-3.3.1.min.js"></script>
  <script src="/static/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/static/js/jquery-ui.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/owl.carousel.min.js"></script>
  <script src="/static/js/jquery.stellar.min.js"></script>
  <script src="/static/js/jquery.countdown.min.js"></script>
  <script src="/static/js/jquery.magnific-popup.min.js"></script>
  <script src="/static/js/bootstrap-datepicker.min.js"></script>
  <script src="/static/js/swiper.min.js"></script>
  <script src="/static/js/aos.js"></script>

  <script src="/static/js/picturefill.min.js"></script>
  <script src="/static/js/jquery.mousewheel.min.js"></script>

  <script src="/static/js/main.js"></script>
  

</body>
</html>